p{
    color: blue;
}
h1{
    color: aqua;
}
form{
    color: aqua;
}
body{
    background-image:url(bgz.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    
}

   